#top {
	background-color: #d4c5c7;
	padding: 20px;
	margin: 0;
}

#h3 {
	text-align: center;
	color: white;
}

#img1 {
	padding: 0px;
	box-shadow: 5px 8px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto; 
	padding: 0px;	
}

#b_img {
	background-color: #33475b;
	padding: 0;
	overflow: hidden; 
}

nav > p {
	text-align: right;
	color: white;
}

nav a {
	color: #03fcd7;
	padding: 28px 12px;

}

#facebook_ig_mail {
	color: blue;
}

#luu_y {
	width: 33%;
}

#noidunginfo {
	width: 33%;
}

#info {
	background-color: #e8eded;
	padding: 5px;
}

footer {
	text-align: center;

}


#link_web:hover {
	color: #7bc990;
}

#facebook_ig_mail:hover {
	color: #77bff2;
}

#btn:hover {
	color: #d4c5c7;
}

h2 {
	font-family: Verdana, Helvetica, sans-serif;
}

h3 {
	font-family: Verdana, Helvetica, sans-serif;
}

h5 {
	font-family: Verdana, Helvetica, sans-serif;
}

p {
	font-family: Verdana, Helvetica, sans-serif;
}

a {
	font-family: Verdana, Helvetica, sans-serif;
}

#message {
	color: red;
}

@media(max-width: 800px) {
	#info {
		flex: 50%;
		flex-wrap: wrap;
	}
}

@media(max-width: 400px) {
	flex-wrap: wrap;
}










