body {
	background-image: url("img/cartoon.jpg");

}

#votrongnhan {
	color: #bab1b1;
	text-align: center;
	background-color: #383838;
	padding: 30px;
	margin: 0px;
}

.coures_gif {
	max-width: 90%;
}

footer {
	background-color: #383838;
	color: #ffffff;
	text-align: center;
	padding: 10px;
}

footer a {
	color: #b59e9e;
}