h1 {
	font-family: Helvetica, sans-serif;
}

h2 {
	font-family: Helvetica, sans-serif;
}

h4 {
	font-family: Helvetica, sans-serif;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
}

#top_side {
	background-color: #08524a;
	padding: 0px 2px 0px 2px;
	display: flex;
	overflow: hidden; 
}

#name_school {
	color: #cce0de;
	padding: 0px 0px 0px 5px;
	flex: 60%;
}

#back {
	flex: 40%;
	padding: 0px 15px 0px 0px;
	text-decoration: none;
	color: white;
}

#back:hover {
	color: #88a8a5;
}

#flex_container {
	display: flex;
	flex-wrap: nowrap;
	padding: 5px 10px 5px 100px; 
	background-color: #8eaba9;
}

#flex_container2 {
	margin: 5px 300px 5px 300px;
}

#flex_container3 {
	background-color: #c5ded2;
	padding: 1px;
}

#left_side {
	flex: 40%;
	padding: 10px 20px 5px 5px;
}

#center_side {
	flex: 20%;
	padding: 10px 5px 5px 50px;
}

#inschool2_img {
	flex: 20%;
	width: 30%;
	padding: 5px 5px 10px 100px;
}

#inschool34_img {
	margin: 0px 300px 5px 200px;
}

@media(max-width: 1300px) {
	#flex_container {
		flex-wrap: wrap;
		padding: 5px 100px 5px 10px;
	}

	#inschool2_img {
		max-width: 50%;

	}

	#flex_side {
		flex: 100%;
	}

	#center_side {
		flex: 100%;
		padding: 10px 50px 5px 5px;
	}

	#flex_container2 {
		margin: 5px 20px 5px 20px;
	}

	#inschool34_img {
		width: 300px;
		height: 200px;
		margin: 5px 50px 5px 50px;
	}

}

@media(max-width: 800px) {
	#flex_container {
		flex-wrap: wrap;
		padding: 5px 100px 5px 10px;
	}

	#inschool2_img {
		display: none;
	}

	#flex_side {
		flex: 100%;
	}

	#center_side {
		flex: 100%;
		padding: 10px 50px 5px 5px;
	}

	#flex_container2 {
		margin: 5px 20px 5px 20px;
	}

	#inschool34_img {
		width: 300px;
		height: 200px;
		margin: 5px 100px 5px 50px;
	}

}

@media(max-width: 400px) {
	#flex_container {
		flex-wrap: wrap;
		padding: 5px 100px 5px 10px;
	}

	#inschool2_img {
		display: none;
	}

	#flex_side {
		flex: 100%;
	}

	#center_side {
		flex: 100%;
		padding: 10px 50px 5px 5px;
	}

	#flex_container2 {
		margin: 5px 20px 5px 20px;
	}

	#inschool34_img {
		width: 300px;
		height: 200px;
		margin: 5px 100px 5px 50px;
	}

}

@media(max-width: 200px) {
	#flex_container {
		flex-wrap: wrap;
		padding: 5px 100px 5px 10px;
	}

	#inschool2_img {
		display: none;
	}

	#flex_side {
		flex: 100%;
	}

	#center_side {
		flex: 100%;
		padding: 10px 50px 5px 5px;
	}

	#flex_container2 {
		margin: 5px 20px 5px 20px;
	}

	#inschool34_img {
		width: 200px;
		height: 100px;
		margin: 5px 50px 5px 25px;
	}

}
