h1 {
	font-family: Courier New;
}

h2 {
	font-family: Courier New;
}

h4 {
	font-family: Courier New;
}

p {
	font-family: "Courier New";
}


#offcial_website {
	background-color: #abb8b0;
	padding: 10px;
	margin: 0;
}

#top_side {
	background-color: #f0d7d5;
	padding: 10px;
	display: flex;
	flex-wrap: nowrap;
}

#left_side {
	max-width: 30%;
	flex: 60%;
}

#straight_line {
	border-left: 3px solid #664949;
	height: 300px;
	left: 40%;
	margin-left: -10px;
	margin-right: 10px;
	top: 3px; 
}

#facebook {
	color: #124a78;
}

#instagram {
	color: #124a78;
}

#gmail {
	color: #124a78;
}

#center_side {
	max-width: 30%;
	flex: 30%;
	padding: 0px 120px 0px 40px;
}

#right_side {
	max-width: 30%;
	flex: 30%;
	padding: 0px 50px 0px 160px;

}

#trinh_do {
	max-width: 15%;
	padding: 10px;
}

#diem {
	max-width: 5%;
	padding: 20px;
}

table {
	border-style: solid;
}

table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
	padding-top: 12px; 
	padding-bottom: 12px;
	text-align: center;
	background-color: #c79797;
	color: white;
}

#left_trinhdo_diem {
	max-width: 50%;
	flex: 20%;
	padding: 10px 20px;
	background-color: #eef5e6;
}

#flex_container {
	display: flex;
	flex-wrap: nowrap;
}

#boiloi_img {
	padding: 5px 5px 10px 100px;
	max-width: 30%;
}

#right_sothich {
	max-width: 50%;
	flex: 20%;
	padding: 10px 20px;
	background-color: #ebffee;
}

footer {
	text-align: center;
}

footer a {
	color: #386b94;
}