h1 {
	font-family: Helvetica, sans-serif;
}

h2 {
	font-family: Helvetica, sans-serif;
}

h4 {
	font-family: Helvetica, sans-serif;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
}

#top_side {
	background-color: #d0f5ea;
	padding: 0px 2px 0px 2px;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden; 
}

#my_name {
	color: #265245;
	max-width: 90%;
	padding: 0px 0px 0px 5px;
	flex: 60%;
}

#back {
	max-width: 15%;
	flex: 40%;
	padding: 0px 10px 0px 0px;
	text-decoration: none;
	color: #265245;
}

#back:hover {
	color: #24a39f;
}

#img_container {
	background-color: #9be0d5;
	padding: 10px;
}

#nhan_img {
	max-width: 40%;
	margin: 5px 50px 5px 50px;
}

#nhan_content {
	max-width: 50%;
	margin: 5px 100px 5px 200px; 
}

#container_x2 {
	background-color: #d7d9d8;
	padding: 20px;
}

#content_container {
	margin: 5px 400px 5px 400px;
}