h1 {
	font-family: Helvetica, sans-serif;
}

h2 {
	font-family: Helvetica, sans-serif;
}

h4 {
	font-family: Helvetica, sans-serif;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
}

#top_side {
	background-color: #d0f5ea;
	padding: 0px 2px 0px 2px;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden; 
}

#my_name {
	color: #265245;
	max-width: 90%;
	padding: 0px 0px 0px 5px;
	flex: 60%;
}

#back {
	max-width: 15%;
	padding: 0px 10px 0px 0px;
	text-decoration: none;
	color: #265245;
}

#back:hover {
	color: #24a39f;
}

#course {
	text-align: center;
}

.course_item {
	flex: 33%;
	text-align: center;
}

#course_container {
	display: flex;
	flex-wrap: wrap;
}

#nhan_img {
	width: 80%;
}

.nhan_content {
	text-align: center;
}

#container_x2 {
	background-color: #d7d9d8;
	padding: 20px;
}

#content_container {
	margin: 5px 400px 5px 400px;
}

@media(max-width: 1500px) {
	#content_container {
		margin: 5px 300px 5px 300px;
	}

	.nhan_content{
		margin: 0px;
	}

}

@media(max-width: 1100px) {
	#content_container {
		margin: 5px;
	}

}

@media(max-width: 800px) {
	.course_item {
		flex: 50%;
		margin: 1px;
	}

	.nhan_content {
		width: 300px;
		height: 200px;
	}

	#content_container {
		margin: 5px;
	}
}


@media(max-width: 400px) {
	.course_item {
		flex: 50%;
		margin: 1px;
	}

	#content_container {
		margin: 5px;
	}

	.nhan_content {
		width: 300px;
		height: 200px;
	}
}

@media(max-width: 300px) {
	.course_item {
		flex: 50%;
		margin: 1px;
	}

	#content_container {
		margin: 5px;
	}

	.nhan_content {
		width: 300px;
		height: 200px;
	}
}
